bin/*
obj/*
doc/html
*.depend
*.layout
*.cbTemp
guacamole
guacamole-d
*.gv
*.dot
*.so
examples/simple_example/obj/*
examples/simple_example/bin/*
examples/deferred_example/obj/*
examples/deferred_example/bin/*
examples/tracking_example/obj/*
examples/tracking_example/bin/*
examples/rendering_demo
examples/screen_demo
examples/simple_demo
guacamole_with_examples_and_demos.workspace
