bin/*
obj/*
doc/html
*.depend
*.layout
*.cbTemp
guacamole
guacamole-d
*.gv
*.dot
*.so
simple_example/obj/*
simple_example/bin/*
deferred_example/obj/*
deferred_example/bin/*
tracking_example/obj/*
tracking_example/bin/*
